<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list>
        <ion-list-header>外部連結</ion-list-header>
        <ion-item *ngFor="let link of links; let i = index" href="{{ link.url }}" target="_blank">
          <ion-icon slot="start" name="{{ link.icon | getIonicIcon }}"></ion-icon>
          <ion-label>{{ link.title }}</ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header>設定</ion-list-header>
        <ion-item>
          <ion-label>當前版本</ion-label>
          <ion-text>{{ version }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>深夜模式</ion-label>
          <ion-toggle [(ngModel)]="isDarkMode" (ionChange)="onDarkModeChange($event)"></ion-toggle>
        </ion-item>
        <ion-item class="txt-link" (click)="onBtnReadTutorialClied()">
          <ion-label>操作說明</ion-label>
        </ion-item>
      </ion-list>

      <ion-grid *ngIf="config?.enableDownload">
        <ion-row>
          <ion-col size="8" offset="2">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Android</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <img src="assets/img/android.png" />
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>