<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <div class="pnl-tutorial">
        <h3 class="txt-title">深夜模式</h3>
        <img src="assets/img/tutorial-1.jpg">
        <p>在主選單可以切換深夜模式</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="pnl-tutorial">
        <h3 class="txt-title">顯示答案</h3>
        <img src="assets/img/tutorial-2.jpg">
        <p>每一題的下方都有顯示答案的開關，開啟時會顯示正確的選項與題目註解</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="pnl-tutorial">
        <h3 class="txt-title">篩選主題</h3>
        <img src="assets/img/tutorial-3.jpg">
        <p>當題庫越來越多時，可以透過篩選主題的方式找到感興趣的內容</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="pnl-tutorial">
        <h3 class="txt-title">我的收藏</h3>
        <img src="assets/img/tutorial-4.jpg">
        <p>抓住題目來源往左滑，可以加到收藏。往右滑，可以回報試題錯誤</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="pnl-tutorial">
        <p>想休息時，可以記住當前進度，下次回來時就可以繼續上次進度囉！</p>
        <div><small>注意：使用此功能時請不要刪除瀏覽紀錄</small></div>
        <div class="pnl-img-start">
          <img src="assets/img/start.svg">
        </div>
        <ion-button fill="clear" (click)="onBtnStartClicked()">
          <span>開始學習</span>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
