ion-slides {
    height: 100%;
}
.pnl-tutorial {
    padding: 1rem;
    img {
        max-height: 80vh;
        width: auto;
    }
}
.pnl-img-start {
    margin: 1rem;
    img {
        max-height: 50vh;
    }
}
