.pnl-questionset {
    width: 100%;
}
.pnl-source {
    margin-left: 1rem;
    margin-top: 1rem;
}
::ng-deep iframe {
    width: 100%;
    min-height: 300px;
}
::ng-deep figure {
    margin: 0;
    margin-left: 1rem;
}
.txt-link {
    margin-right: 1rem;
}
