h1 {
    position: fixed;
    top: 4rem;
    width: 100vw;
    z-index: 9;
}
.img-login {
    width: 95%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
button {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.img-google {
    width: 50px;
}
