<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--
    <ion-title>首頁</ion-title>
    -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="book"></ion-icon>
        <ion-label>逐題測驗</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="speakers">
        <ion-icon name="filter"></ion-icon>
        <ion-label>標籤篩選</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon name="document"></ion-icon>
        <ion-label>問卷回饋</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>