<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>程式設計課程學習資源</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="exam">
        <ion-icon name="book"></ion-icon>
        <ion-label>測驗資訊</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="question">
        <ion-icon name="book"></ion-icon>
        <ion-label>逐題測驗</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="filter">
        <ion-icon name="filter"></ion-icon>
        <ion-label>篩選主題</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>