.pnl-title {
    margin-left: 1rem;
    margin-top: 2rem;
}
.pnl-topics {
    margin-left: 1rem;
}
.pnl-source {
    margin-left: 1rem;
    margin-top: 1rem;
}
.pnl-query {
    margin-top: 1rem;
}
.txt-link {
    margin-right: 1rem;
}
